/** Main styles **/

/* Background */
body {
	height: 4000vh;
	background-color: #120219
}

/* Scroll bar */

#scroll-bar {
	width: 300px;
	height: 8px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	border: 0;
	border-radius: 8px;
	background-color: rgba(188, 19, 254, 0.1);
	-webkit-transform: rotateZ(-90deg);
	transform: rotateZ(-90deg)
}
/* Progress bar style */
#scroll-bar::-webkit-progress-bar {
	border-radius: 8px;
	background-color: rgba(188, 19, 254, 0.1)
}
/* Progress value style */
#scroll-bar::-webkit-progress-value {
	border-radius: 8px;
	box-shadow:
		0 0 2rem #bc13fe,
		0 0 0.8rem #bc13fe,
		0 0 2.8rem #bc13fe;
	background-color: #bc13fe
}
#scroll-bar::-moz-progress-bar {
	border-radius: 8px;
	box-shadow:
		0 0 2rem #bc13fe,
		0 0 0.8rem #bc13fe,
		0 0 2.8rem #bc13fe;
	background-color: #bc13fe
}