/** Arms **/

#arm_left_1 {
	width: 15px;
	height: 100px;
	background-color: var(--arm);
	-webkit-transform: translateX(20px) translateY(-150px) translateZ(-170px) rotateX(75deg) rotateZ(15deg);
	transform: translateX(20px) translateY(-150px) translateZ(-170px) rotateX(75deg) rotateZ(15deg)
}

#arm_left_2 {
	width: 15px;
	height: 100px;
	background-color: var(--arm);
	-webkit-transform: translateX(30px) translateY(-150px) translateZ(-260px) rotateX(-75deg);
	transform: translateX(30px) translateY(-150px) translateZ(-260px) rotateX(-75deg)
}

#arm_left_3 {
	width: 10px;
	height: 25px;
	background-color: var(--arm);
	-webkit-transform: translateX(30px) translateY(-100px) translateZ(-320px) rotateX(75deg);
	transform: translateX(30px) translateY(-100px) translateZ(-320px) rotateX(75deg)
}

#arm_right_1 {
	width: 15px;
	height: 100px;
	background-color: var(--arm);
	-webkit-transform: translateX(-20px) translateY(-150px) translateZ(-170px) rotateX(75deg) rotateZ(-15deg);
	transform: translateX(-20px) translateY(-150px) translateZ(-170px) rotateX(75deg) rotateZ(-15deg)
}

#arm_right_2 {
	width: 15px;
	height: 100px;
	background-color: var(--arm);
	-webkit-transform: translateX(-30px) translateY(-150px) translateZ(-260px) rotateX(-75deg);
	transform: translateX(-30px) translateY(-150px) translateZ(-260px) rotateX(-75deg)
}

#arm_right_3 {
	width: 10px;
	height: 25px;
	background-color: var(--arm);
	-webkit-transform: translateX(-30px) translateY(-100px) translateZ(-320px) rotateX(75deg);
	transform: translateX(-30px) translateY(-100px) translateZ(-320px) rotateX(75deg)
}