/** Body **/

#body_1 {
	width: 22px;
	height: 75px;
	background-color: var(--body);
	-webkit-transform: translateY(-190px) translateZ(-130px) rotateX(0);
	transform: translateY(-190px) translateZ(-130px) rotateX(0)
}

#body_2 {
	width: 22px;
	height: 75px;
	background-color: var(--body);
	-webkit-transform: translateY(-270px) translateZ(-140px) rotateX(15deg);
	transform: translateY(-270px) translateZ(-140px) rotateX(15deg)
}

#body_3 {
	width: 22px;
	height: 75px;
	background-color: var(--body);
	-webkit-transform: translateY(-345px) translateZ(-172px) rotateX(30deg);
	transform: translateY(-345px) translateZ(-172px) rotateX(30deg)
}

#body_4 {
	width: 22px;
	height: 75px;
	background-color: var(--body);
	-webkit-transform: translateY(-408px) translateZ(-220px) rotateX(45deg);
	transform: translateY(-408px) translateZ(-220px) rotateX(45deg)
}