/* Feet */

#foot_left {
	width: 5px;
	height: 75px;
	background-color: var(--foot);
	-webkit-transform: translateX(30px) translateY(-400px) translateZ(-300px) rotateX(110deg);
	transform: translateX(30px) translateY(-400px) translateZ(-300px) rotateX(110deg)
}

#foot_right {
	width: 5px;
	height: 75px;
	background-color: var(--foot);
	-webkit-transform: translateX(-30px) translateY(-400px) translateZ(-300px) rotateX(110deg);
	transform: translateX(-30px) translateY(-400px) translateZ(-300px) rotateX(110deg)
}