/** Wings **/

#wing_left_1 {
	width: 15px;
	height: 75px;
	background-color: var(--wing);
	-webkit-transform: translateX(40px) translateY(-140px) translateZ(-300px) rotateX(110deg) rotateZ(-15deg);
	transform: translateX(40px) translateY(-140px) translateZ(-300px) rotateX(110deg) rotateZ(-15deg)
}

#wing_left_2 {
	width: 15px;
	height: 75px;
	background-color: var(--wing);
	-webkit-transform: translateX(60px) translateY(-160px) translateZ(-230px) rotateX(110deg) rotateZ(-15deg);
	transform: translateX(60px) translateY(-160px) translateZ(-230px) rotateX(110deg) rotateZ(-15deg)
}

#wing_left_3 {
	width: 15px;
	height: 75px;
	background-color: var(--wing);
	-webkit-transform: translateX(80px) translateY(-180px) translateZ(-160px) rotateX(110deg) rotateZ(-15deg);
	transform: translateX(80px) translateY(-180px) translateZ(-160px) rotateX(110deg) rotateZ(-15deg)
}

#wing_left_4 {
	width: 15px;
	height: 75px;
	background-color: var(--wing);
	-webkit-transform: translateX(100px) translateY(-200px) translateZ(-90px) rotateX(110deg) rotateZ(-15deg);
	transform: translateX(100px) translateY(-200px) translateZ(-90px) rotateX(110deg) rotateZ(-15deg)
}

#wing_right_1 {
	width: 15px;
	height: 75px;
	background-color: var(--wing);
	-webkit-transform: translateX(-40px) translateY(-140px) translateZ(-300px) rotateX(110deg) rotateZ(15deg);
	transform: translateX(-40px) translateY(-140px) translateZ(-300px) rotateX(110deg) rotateZ(15deg)
}

#wing_right_2 {
	width: 15px;
	height: 75px;
	background-color: var(--wing);
	-webkit-transform: translateX(-60px) translateY(-160px) translateZ(-230px) rotateX(110deg) rotateZ(15deg);
	transform: translateX(-60px) translateY(-160px) translateZ(-230px) rotateX(110deg) rotateZ(15deg)
}

#wing_right_3 {
	width: 15px;
	height: 75px;
	background-color: var(--wing);
	-webkit-transform: translateX(-80px) translateY(-180px) translateZ(-160px) rotateX(110deg) rotateZ(15deg);
	transform: translateX(-80px) translateY(-180px) translateZ(-160px) rotateX(110deg) rotateZ(15deg)
}

#wing_right_4 {
	width: 15px;
	height: 75px;
	background-color: var(--wing);
	-webkit-transform: translateX(-100px) translateY(-200px) translateZ(-90px) rotateX(110deg) rotateZ(15deg);
	transform: translateX(-100px) translateY(-200px) translateZ(-90px) rotateX(110deg) rotateZ(15deg)
}