/* Texture option */

#texture {
	margin-bottom: 5px;
	padding: 0;
	border: unset;
	background-color: unset;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
}
#texture:hover {text-decoration: underline}

#texture span {font-style: italic}

/* Wireframe option */

#wireframe, label {cursor: pointer}

#wireframe:checked + .mesh .part {box-shadow: inset 0 0 0 1px #0f0}