/** Main styles **/

/* Color variables */
:root {
	--arm: blue;
	--beak: yellow;
	--body: green;
	--foot: lightblue;
	--horn: yellow;
	--leg: lightblue;
	--neck: red;
	--wing: orange
}

/* Background */
body {
	perspective: 600px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	overflow: hidden;
	background-color: #000;
	cursor: grab
}
body:active {cursor: grabbing}

/* Model container/bones main styles */

#model {
	width: 0;
	height: 0;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}

.bones {position: absolute}